html
  head
    title MEAN Stack Tutorial
    link(rel = 'stylesheet', type = 'text/css', href = '/index.css')
  body
    .title MEAN Stack Tutorial
    .body.
      Welcome to the MEAN stack!  The MEAN stack is a web application stack, composed of MongoDB, Express.js, Angular.js,
      and Node.js.  While they work tegether as a team to produce a modern web app, starting off with the entire stack is
      a bit daunting - so in this tutorial, we will work our way into the MEAN stack a little bit at a time.  Along the
      way, we will also cover other useful technologoes that work with the MEAN stack to power a web application.  Our
      first baby step will be Node.js&hellip;
    ul
      li
        a(href = 'node') Node.js
      ul
        li
          a(href = 'node#install') Installing Node.js
        li
          a(href = 'node#using_node') Using Node.js
        ul
          li
            a(href = 'node#repl') Using the Read-Eval-Print-Loop (REPL)
          li
            a(href = 'node#scripts') Using JavaScript Files
      li
        a(href = 'npm') npm
      ul
        li
          a(href = 'npm#using') Using #[b npm]
