html
  head
    title MEAN Stack Tutorial - npm
    link(rel = 'stylesheet', type = 'text/css', href = '/index.css')
  body
    .title MEAN Stack Tutorial
    .section npm
    .body.
      In this tutorial, we will cover the basics of using <b>npm</b> - the Node Package Manager, which is installed when
      Node.js is installed.  It is used to install <i>modules</i>, which extend the features of Node.js.
    #using.subsection Using <b>npm</b>
    .body.
      Previously, we created a script without giving much thought to how it should be packaged or structured.  As our
      scripts get more complex, we will want to break them up into multiple files - and we need to organize these files
      so they can be easily maintained and delivered.  To start off, we will create a directory when we start a new
      project - it will hold all the files for that project.  Let's create a new directory called <b>node_hello</b>:
    ul.code
      li $ <b>mkdir node_hello</b>
      li $ <b>cd node_hello</b>
